{% extends "AdminBundle:AdminDesign:base.html.twig" %}
{% block content %}
    <div id="content-outer">
        <div id="content">
            <div id="page-heading"><h1>Add product</h1></div>
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="{{ asset("images/shared/side_shadowleft.jpg") }}" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="{{ asset("images/shared/side_shadowright.jpg") }}" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td>
                        {{ form_start(form) }}
                        {{ form_widget(form.id) }}
                        <div id="content-table-inner">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                <tr valign="top">
                                    <td>
                                        {% if app.session.flashBag.has('success')|length %}
                                            {% for message in app.session.flashBag.get('success') %}
                                                <div class="green-text">{{ message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if app.session.flashBag.has('error')|length %}
                                            {% for message in app.session.flashBag.get('error') %}
                                                <div class="red-text">{{ message }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                                            <tr>
                                                <th valign="top">{{ form_label(form.name) }}:</th>
                                                <td>{{ form_widget(form.name, {'attr':{'class':'inp-form'}}) }}</td>
                                                <td>
                                                    {% if form.name.vars.errors|length %}
                                                        {% for error in form.name.vars.errors %}
                                                            <div class="error-left"></div>
                                                            <div class="error-inner">{{ error.message }}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th valign="top">{{ form_label(form.price) }}:</th>
                                                <td>{{ form_widget(form.price, {'attr':{'class':'inp-form'}}) }}</td>
                                                <td>
                                                    {% if form.price.vars.errors|length %}
                                                        {% for error in form.price.vars.errors %}
                                                            <div class="error-left"></div>
                                                            <div class="error-inner">{{ error.message }}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th valign="top">{{ form_label(form.description) }}:</th>
                                                <td>{{ form_widget(form.description, {'attr':{'class':'form-textarea'}}) }}</td>
                                                <td>
                                                    {% if form.description.vars.errors|length %}
                                                        {% for error in form.description.vars.errors %}
                                                            <div class="error-left"></div>
                                                            <div class="error-inner">{{ error.message }}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ form_label(form.photo) }}:</th>
                                                <td>{{ form_widget(form.photo) }}</td>
                                                <td>
                                                    {% if form.photo.vars.errors|length %}
                                                        {% for error in form.photo.vars.errors %}
                                                            <div class="error-left"></div>
                                                            <div class="error-inner">{{ error.message }}</div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="bubble-left"></div>
                                                    <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                                                    <div class="bubble-right"></div>
                                                    {% if data.product.getPhoto(true) is defined and data.product.getPhoto(true)|length %}
                                                        <img src="{{ asset(data.product.getPhoto(true)) }}" height="100" />
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <td valign="top">
                                                    {{ form_widget(form.submit, {'attr':{'class':'form-submit', 'formnovalidate':'formnovalidate'}}) }}
                                                    {{ form_widget(form.reset, {'attr':{'class':'form-submit'}}) }}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <!-- end id-form  -->

                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="{{ asset("images/shared/blank.gif") }}" width="695" height="1" alt="blank" /></td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="clear"></div>
                        </div>
                        {{ form_end(form) }}
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>















            <div class="clear">&nbsp;</div>

        </div>
        <!--  end content -->
        <div class="clear">&nbsp;</div>
    </div>
    <!-- <tr>
                                <th valign="top">Category:</th>
                                <td>	
                                    <select  class="styledselect_form_1">
                                        <option value="">All</option>
                                        <option value="">Products</option>
                                        <option value="">Categories</option>
                                        <option value="">Clients</option>
                                        <option value="">News</option>
                                    </select>
                                </td>
                                <td></td>
                            </tr> -->
{% endblock %}