{% extends "AdminBundle:AdminDesign:base.html.twig" %}
{% block content %}
    <div id="content-outer">
        <div id="content">
            <div id="page-heading"><h1>Change Password</h1></div>
            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
                <tr>
                    <th rowspan="3" class="sized"><img src="{{ asset("images/shared/side_shadowleft.jpg") }}" width="20" height="300" alt="" /></th>
                    <th class="topleft"></th>
                    <td id="tbl-border-top">&nbsp;</td>
                    <th class="topright"></th>
                    <th rowspan="3" class="sized"><img src="{{ asset("images/shared/side_shadowright.jpg") }}" width="20" height="300" alt="" /></th>
                </tr>
                <tr>
                    <td id="tbl-border-left"></td>
                    <td>
                        {{ form_start(form) }}
                            <div id="content-table-inner">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr valign="top">
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                                                {% if app.session.flashBag.has('success') %}
                                                    {% for msg in app.session.flashBag.get('success') %}
                                                        <tr class="green-text"><td colspan=2">{{ msg }}</td></tr>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if app.session.flashBag.has('error') %}
                                                    {% for msg in app.session.flashBag.get('error') %}
                                                        <tr class="red-text"><td colspan=2">{{ msg }}</td></tr>
                                                    {% endfor %}
                                                {% endif %}
                                                {% if form.old_password.vars.errors|length %}
                                                    {% for error in form.old_password.vars.errors %}
                                                        <tr class="red-text"><td colspan=2">{{ error.message }}</td></tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    <th valign="top">{{ form_label(form.old_password) }}</th>
                                                    <td>{{ form_widget(form.old_password, {'attr':{'class':'inp-form'}}) }}</td>
                                                </tr>
                                                {% if form.new_password.vars.errors|length %}
                                                    {% for error in form.new_password.vars.errors %}
                                                        <tr class="red-text"><td colspan=2">{{ error.message }}</td></tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    <th valign="top">{{ form_label(form.new_password) }}</th>
                                                    <td>{{ form_widget(form.new_password, {'attr':{'class':'inp-form'}}) }}</td>
                                                </tr>
                                                {% if form.confirm_password.vars.errors|length %}
                                                    {% for error in form.confirm_password.vars.errors %}
                                                        <tr class="red-text"><td colspan=2">{{ error.message }}</td></tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tr>
                                                    <th valign="top">{{ form_label(form.confirm_password) }}</th>
                                                    <td>{{ form_widget(form.confirm_password, {'attr':{'class':'inp-form'}}) }}</td>
                                                </tr>
                                                <tr>
                                                    <th valign="top"></th>
                                                    <td>
                                                        {{ form_widget(form.change_password, {'attr':{'class':'form-submit', 'formnovalidate':'formnovalidate'}}) }}
                                                        {{ form_widget(form.reset_password, {'attr':{'class':'form-submit'}}) }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {{ form_end(form) }}
                    </td>
                    <td id="tbl-border-right"></td>
                </tr>
                <tr>
                    <th class="sized bottomleft"></th>
                    <td id="tbl-border-bottom">&nbsp;</td>
                    <th class="sized bottomright"></th>
                </tr>
            </table>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
{% endblock %}